# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA files
.idea/

# Gradle files
*/.gradle/
*/build/

# Maven target directory
*/target/

# IDE files
*.iml
*.ipr
*.iws

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Trashes
__MACOSX/


# C sharp
# Compiled source files
*.com
*.class
*.dll
*.exe
*.pdb
*.cache
*.suo

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
.mono/

#python
__pycache__/